{% load staticfiles %}
<!DOCTYPE html>
<!-- new for deployment -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'shirt_factory/style.css' %}">
  <title>Design</title>
</head>
<body>
  <header class="transluc">
    <h2>This is a finished design page</h2>
    <h4><a href="{% url 'all' %}">Click here to view all designs</a></h4>
  </header>
  <nav class="transluc">
    <a href="{% url 'post' %}">Home</a>
    <a id="menupad" href="{% url 'all' %}">Design Gallery</a>
    <a href="about:blank"><strike>About</strike></a>
  </nav>
  <article>
    <ul class="transluc">
      <li>design name: {{ design.design_name }}</li>
      <li>design ID: {{ design.id }}</li>
      <li>time stamp: {{ design.time_stamp }}</li>
      <li>comment: {{ design.comment }}</li>
    </ul>
    <section id="preview_area">
      <div><img class="main_img" src="{% url 'image' design.id %}"></div>
    </section>
  </article>
</body>
</html>
